#event-calendar-container {
    display: flex;
}

#event-container {
    padding-right: 30px;
}

#event-container .event {
    display: flex;
    padding: 5px 8px;
}

#event-container .event .price {
    font-weight: bold;
    line-height: 1.0em;
    font-size: 1.2em;
}

#event-container .period {
    padding-left: 5px;
    line-height: 1.0em;
    font-size: 1.2em;
}

#event-container .period:before {
    content: "";
}

#event-container .event.past-event {
    text-decoration: line-through;
    font-size: 1.2em;

}
#event-container .event.present-event {
    font-size: 1.4em;
    line-height: 1.0em;
    color: purple;
    font-weight: bold;
}
#event-container .event.future-event {
    font-size: 1.2em;
}


#calendar-container {
    flex: auto;
}

/*
added something here
*/