<div class="testimonial-container row background_changer--blur0" data-component="grid"
    data-builder="edit del clone dnd col" alt=""
    style="background-color: rgba(0, 0, 0, 0); border-radius: 0px; border-style: none; border-width: 0px; margin-top: 0px; margin-bottom: 30px; background-image: none; opacity: 1;">
    <div class="col-md-12" data-builder="edit del dnd">
        <div class="js_kartra_component_holder">
            <div data-component="text" id="ZzRtWdNj6K">
                <div class="kartra_text kartra_text--size-big-special-small kartra_text--open-sans-font kartra_text--font-weight-regular kartra_text--extra-dark-grey kartra_text--text-center"
                    data-builder="content del clone dnd" data-selector="*[data-builder*=&quot;content&quot;]"
                    style="margin-top: 20px; margin-bottom: 5px; position: relative;" aria-controls="cke_8041"
                    aria-activedescendant="" aria-autocomplete="list" aria-expanded="false" tabindex="0" role="textbox"
                    aria-multiline="true" aria-label="false" aria-describedby="cke_44" spellcheck="false">
                    <p style="font-size: 1.4rem;"><b><span style="color: rgb(45, 45, 45); font-size: 1.4rem;"><span
                                    style="font-size: 1.4rem; font-family: Montserrat; color: rgb(45, 45, 45);">TESTIMONIALS</span></span></b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row--equal background_changer--blur0" data-component="grid" alt="" style="
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 0px; 
    border-style: none; 
    border-width: 0px; 
    margin-top: 0px; 
    margin-bottom: -30px; 
    background-image: none; 
    opacity: 1;" data-builder="edit del clone dnd col">

    <div class="testimonial-inner-container">

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="ZtOCe965K3_MCY6xjbIGf" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_81" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false">
                            <p style="text-align: justify;">I’ve been to plenty of courses and seminars,
                                and there’s nothing like this being run anywhere! The focus is actually
                                on people having breakthroughs and levelling up. I love it! Just walk
                                through the door &amp; Todd will do the rest!</p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/693_1677768495vBhScreen_Shot_2023-03-02_at_4.33.15_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline" id="WROmQtZBm4">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_441" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Nikki</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">

                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="e1WFXhFsNp_NWHSdJv6Nx" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_3951" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false" tabindex="0" spellcheck="false"
                            role="textbox" aria-multiline="true" aria-label="false" aria-describedby="cke_675">
                            <p style="text-align: justify;">Come give it a go! It was amazing, I
                                honestly didn’t know what to expect &amp; it blew my expectations out
                                the door! I’m grateful to Todd for having us!</p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/622_1677739895yWbScreen_Shot_2023-03-02_at_4.25.25_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_474" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Nicci</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="aKfKCVafd9_qdS3TzK2ae" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_4313" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false">
                            <p style="text-align: justify;">I learnt that I’m so much more powerful than
                                I thought I was.</p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/718_1677770160DKuScreen_Shot_2023-03-02_at_5.33.44_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline" id="WROmQtZBm4">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_1819" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Chloe</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="Y8d56eCSOs_xNGWWKZqIi" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_4964" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false" tabindex="0" spellcheck="false"
                            role="textbox" aria-multiline="true" aria-label="false" aria-describedby="cke_809">
                            <p style="text-align: justify;">This event is something that you absolutely
                                must attend to expand your mind, learn from high calibre people and be
                                shown that there is a balanced way of attaining a successful, fulfilled
                                life. It makes it clear how we don’t have to be exclusively red or blue
                                pill - rather how we can harness the power of both to create a life by
                                design, not by default. INCREDIBLE!</p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/720_16777704809ACIMG_4976.jpg&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_1580" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Maddy</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="UnjvPIzxJb_gtbK6rryCU" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_443" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false" tabindex="0" spellcheck="false"
                            role="textbox" aria-multiline="true" aria-label="false" aria-describedby="cke_675">
                            <p style="text-align: justify;">I’ve never seen such an interactive
                                audience! Everyone connects, there’s no discomfort so we can all be
                                authentic. Just do it, what are you waiting for!? The way Todd holds
                                everyone and enables us to get out of our heads into our bodies is nuts,
                                I don’t know any other presenters who focus on that and it’s incredible!
                            </p>

                            <p style="text-align: justify;"> </p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/628_1677752433MVEScreen_Shot_2023-03-02_at_4.43.08_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_78" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Travis</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" id="gVKl436ug3_oaFUoPBzfE" data-builder="edit del clone"
                    data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_4658" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false">
                            <p style="text-align: justify;">If money is your block, you’re going to
                                learn so much that will return your investment plus a whole lot more!
                            </p>

                            <p> </p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/719_16777702253PKScreen_Shot_2023-03-02_at_5.45.30_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline" id="8zwg6LwJH1">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_3658" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Lydia</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial col-md-6 col-sm-12" data-builder="edit del dnd">
            <div class="js_kartra_component_holder">
                <div class="kartra_element_bg kartra_element_bg--padding-left-right-small kartra_element_bg--padding-bottom-tiny kartra_element_bg--margin-bottom-medium js_kartra_component_holder"
                    data-component="bundle" data-builder="edit del clone" data-selector="div[data-component=bundle]">
                    <div style="background-color: rgba(255,255,255,1); border-radius: 6px; box-shadow: 0px 2px 7px rgba(0,0,0,0.20);"
                        class="background-item" data-selector="div.background-item"></div>
                    <div data-component="icon">
                        <div class="kartra_icon kartra_icon--large kartra_icon--circled kartra_icon--no-border kartra_icon--white kartra_icon--center kartra_icon--margin-bottom-small kartra_icon--top-none kartra_icon--negative-margin-top-special-medium pull-left"
                            style="background-color: rgb(186, 144, 84); box-shadow: 0px 10px 30px rgba(239, 71, 111, 0.0);"
                            data-builder="edit del clone" data-selector=".kartra_icon">
                            <span class="kartra_icon__icon fa fa-quote-left"></span>
                        </div>
                    </div>
                    <div data-component="text">
                        <div class="kartra_text kartra_text--montserrat-font kartra_text--ebony-clay-2 kartra_text--font-weight-regular kartra_text--line-height-special-large kartra_text--margin-bottom-small"
                            style="position: relative;" aria-controls="cke_837" aria-activedescendant=""
                            aria-autocomplete="list" aria-expanded="false">
                            <p style="text-align: justify;">This event has evolved so quickly! It shows
                                Todd is truly invested in this mission doing all he can for us! This is
                                a genuine advancement of events already out there! It’s also merging the
                                two paradigms together - something I have never seen! Just get a ticket,
                                what have you got to lose!?</p>
                        </div>
                    </div>
                    <div data-component="divider">
                        <hr class="kartra_divider kartra_divider--border-extra-tiny kartra_divider--border-black-opaque-07 kartra_divider--full kartra_divider--padding-bottom-tiny"
                            data-builder="edit del clone" data-selector="hr.kartra_divider">
                    </div>
                    <div class="kartra_testimonial_author_block kartra_testimonial_author_block--flex kartra_testimonial_author_block--vertical-center"
                        data-component="bundle" data-selector="div[data-component=bundle]">
                        <div class="kartra_testimonial_author_block__image">
                            <div class="kartra_element_bg kartra_element_bg--thumb-size-extra-medium kartra_element_bg--align-center"
                                data-component="bundle" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;"
                                data-builder="edit del clone" data-selector="div[data-component=bundle]">
                                <div style="border-radius: 100px; box-shadow: none 0px 15px 50px; border: 2px solid rgb(186, 144, 84); background-color: rgba(0, 0, 0, 0); opacity: 1;"
                                    class="background-item background_changer--blur0 js-bg-next-gen" alt=""
                                    data-bg="url(&quot;//d1aettbyeyfilo.cloudfront.net/toddjarratt/629_1677752518AOzScreen_Shot_2023-03-02_at_4.45.57_pm.png&quot;)"
                                    data-selector="div.background-item">
                                </div>
                            </div>
                        </div>
                        <div
                            class="kartra_testimonial_author_block__info kartra_testimonial_author_block__info--padding-left-extra-small kartra_testimonial_author_block__info--adjust-width js_kartra_component_holder">
                            <div data-component="headline" id="8zwg6LwJH1">
                                <div class="kartra_headline kartra_headline--montserrat-font kartra_headline--h5 kartra_headline--french-rose kartra_headline--font-weight-regular kartra_headline--margin-bottom-none"
                                    style="position: relative; margin-top: 10px; margin-bottom: 0px;"
                                    aria-controls="cke_4925" aria-activedescendant="" aria-autocomplete="list"
                                    aria-expanded="false">
                                    <p><strong><span style="color: rgb(45, 45, 45);">Megan</span></strong>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>